In [1]:
import pandas as pd

In [3]:
# Sample movie dataset for exercises
movies_df = pd.DataFrame({
'Title': ['Movie A', 'Movie B', 'Movie C', 'Movie D', 'Movie E'],
'Genre': ['Action', 'Comedy', 'Drama', 'Action', 'Drama'],
'Year': [2010, 2012, 2014, 2016, 2018],
'IMDb Rating': [7.5, 6.2, 8.1, 5.9, 7.8],
'Revenue (Millions)': [150, 50, 200, 75, 180],
'Runtime (Minutes)': [120, 90, 140, 110, 130]
})
# Display sample data
print(movies_df)

### Datasets 2:
# Sample dataset for exercises
data1 = pd.DataFrame({
'Product_ID': [1, 2, 3, 4, 5],
'Category': ['Electronics', 'Clothing', 'Electronics', 'Groceries', 'Groceries'],
'Region': ['North', 'South', 'East', 'West', 'North'],
'Sales': [500, 300, 200, 400, 150],
'Price': [100, 50, 75, 30, 25],
'Store': ['A', 'B', 'A', 'C', 'D']
})
data2 = pd.DataFrame({
'Product_ID': [1, 2, 3, 4, 5],
'Revenue': [700, 400, 250, 500, 180],
'Discount': [10, 15, 5, 0, 20],
'Store': ['A', 'B', 'A', 'C', 'B']
})
# Display sample data
print(data1)
print(data2)

     Title   Genre  Year  IMDb Rating  Revenue (Millions)  Runtime (Minutes)
0  Movie A  Action  2010          7.5                 150                120
1  Movie B  Comedy  2012          6.2                  50                 90
2  Movie C   Drama  2014          8.1                 200                140
3  Movie D  Action  2016          5.9                  75                110
4  Movie E   Drama  2018          7.8                 180                130
   Product_ID     Category Region  Sales  Price Store
0           1  Electronics  North    500    100     A
1           2     Clothing  South    300     50     B
2           3  Electronics   East    200     75     A
3           4    Groceries   West    400     30     C
4           5    Groceries  North    150     25     D
   Product_ID  Revenue  Discount Store
0           1      700        10     A
1           2      400        15     B
2           3      250         5     A
3           4      500         0     C
4           5      180        20     B

In [27]:
# Inner join on 'Product_ID' column
merged_data = pd.merge(data1, data2, on='Product_ID', how='inner')
print(merged_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
2           3  Electronics   East    200     75      250         5     A
3           4    Groceries   West    400     30      500         0     C
4           5    Groceries  North    150     25      180        20     B

In [47]:
# Left join on 'Product_ID' column 
merged_data = pd.merge(data1, data2, on='Product_ID', how='left') 
print(merged_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
2           3  Electronics   East    200     75      250         5     A
3           4    Groceries   West    400     30      500         0     C
4           5    Groceries  North    150     25      180        20     B

In [45]:
# Right join on 'Product_ID' column 
merged_data = pd.merge(data1, data2, on='Product_ID', how='right') 
print(merged_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
2           3  Electronics   East    200     75      250         5     A
3           4    Groceries   West    400     30      500         0     C
4           5    Groceries  North    150     25      180        20     B

In [43]:
# Right join on 'Product_ID' column 
merged_data = pd.merge(data1, data2, on='Product_ID', how='right') 
print(merged_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
2           3  Electronics   East    200     75      250         5     A
3           4    Groceries   West    400     30      500         0     C
4           5    Groceries  North    150     25      180        20     B

In [49]:
# Outer join on 'Product_ID' column 
merged_data = pd.merge(data1, data2, on='Product_ID', how='outer') 
print(merged_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
2           3  Electronics   East    200     75      250         5     A
3           4    Groceries   West    400     30      500         0     C
4           5    Groceries  North    150     25      180        20     B

In [5]:
# Merge on 'Product_ID' and 'Store' columns 
merged_data = pd.merge(data1, data2, on=['Product_ID','Store'], how='inner')
print(merged_data)

   Product_ID     Category Region  Sales  Price Store  Revenue  Discount
0           1  Electronics  North    500    100     A      700        10
1           2     Clothing  South    300     50     B      400        15
2           3  Electronics   East    200     75     A      250         5
3           4    Groceries   West    400     30     C      500         0

In [55]:
# Merge on 'Product_ID' column
merged_data = pd.merge(data1, data2, on='Product_ID', how='inner') 
# Filter to show only products where Sales > 200 and Revenue > 300 
filtered_data = merged_data[(merged_data['Sales'] > 200) & (merged_data['Revenue'] > 300)]
print(filtered_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
3           4    Groceries   West    400     30      500         0     C

In [57]:
# Merge on 'Product_ID' column
merged_data = pd.merge(data1, data2, on='Product_ID', how='inner')
# Remove duplicates from the merged dataframe
cleaned_data = merged_data.drop_duplicates()
print(cleaned_data)

   Product_ID     Category Region  Sales  Price  Revenue  Discount Store
0           1  Electronics  North    500    100      700        10     A
1           2     Clothing  South    300     50      400        15     B
2           3  Electronics   East    200     75      250         5     A
3           4    Groceries   West    400     30      500         0     C
4           5    Groceries  North    150     25      180        20     B

In [8]:
# Group by 'Category' and calculate total Sales for each category
total_sales_by_category = data1.groupby('Category')['Sales'].sum().reset_index() 
print(total_sales_by_category)

      Category  Sales
0     Clothing    300
1  Electronics    700
2    Groceries    550

In [10]:
# Group by 'Region' and calculate average Price for each region
average_price_by_region = data1.groupby('Region')['Price'].mean().reset_index() 
print(average_price_by_region)

  Region  Price
0   East   75.0
1  North   62.5
2  South   50.0
3   West   30.0

In [12]:
# Group by 'Category' and count unique Product_IDs 
unique_products_by_category = data1.groupby('Category')['Product_ID'].nunique().reset_index() 
print(unique_products_by_category)

      Category  Product_ID
0     Clothing           1
1  Electronics           2
2    Groceries           2

In [14]:
# Group by 'Category' and 'Region' and calculate total Sales for each combination 
sales_by_category_region = data1.groupby(['Category', 'Region'])['Sales'].sum().reset_index() 
print(sales_by_category_region)

      Category Region  Sales
0     Clothing  South    300
1  Electronics   East    200
2  Electronics  North    500
3    Groceries  North    150
4    Groceries   West    400

In [16]:
# Group by 'Store' and calculate min, max, and average Revenue 
aggregated_data = data2.groupby('Store')['Revenue'].agg(['min', 'max', 'mean']).reset_index() 
print(aggregated_data)

  Store  min  max   mean
0     A  250  700  475.0
1     B  180  400  290.0
2     C  500  500  500.0

In [18]:
# Group by 'Region' and calculate total Sales and average Price for each region
aggregated_data = data1.groupby('Region').agg( Total_Sales=('Sales', 'sum'), Average_Price=('Price', 'mean') ).reset_index()
print(aggregated_data)

  Region  Total_Sales  Average_Price
0   East          200           75.0
1  North          650           62.5
2  South          300           50.0
3   West          400           30.0

In [20]:
# Filter to show only categories where total Sales exceeds 400 
filtered_categories = total_sales_by_category[total_sales_by_category['Sales'] > 400] 
print(filtered_categories)

      Category  Sales
1  Electronics    700
2    Groceries    550

In [24]:
# Group by 'Category' and use a lambda function to calculate the range of Sales
sales_range_by_category = data1.groupby('Category')['Sales'].agg(lambda x: x.max() - x.min()).reset_index() 
# Rename the column to reflect the calculated range
sales_range_by_category = sales_range_by_category.rename(columns={'Sales': 'Sales_Range'})
print(sales_range_by_category)

      Category  Sales_Range
0     Clothing            0
1  Electronics          300
2    Groceries          250

In [26]:
# Create a pivot table to show average Sales for each Category and Region
pivot_table = data1.pivot_table(values='Sales', index='Category', columns='Region', aggfunc='mean').reset_index()
print(pivot_table)

Region     Category   East  North  South   West
0          Clothing    NaN    NaN  300.0    NaN
1       Electronics  200.0  500.0    NaN    NaN
2         Groceries    NaN  150.0    NaN  400.0

In [28]:
# Create a pivot table to show min, max, and average Price for each Region 
pivot_table = data1.pivot_table(values='Price', index='Region', aggfunc=['min', 'max', 'mean']).reset_index() 
# Rename the columns for better readability
pivot_table.columns = ['Region', 'Min_Price', 'Max_PPrice', 'Avg_Price'] 
print(pivot_table)

  Region  Min_Price  Max_PPrice  Avg_Price
0   East         75          75       75.0
1  North         25         100       62.5
2  South         50          50       50.0
3   West         30          30       30.0

In [30]:
# Use melt to reshape the data
melted_data = pd.melt(data1, id_vars=['Product_ID', 'Category'], value_vars=['Price', 'Sales'], var_name='Metric', value_name='Value') 
print(melted_data)

   Product_ID     Category Metric  Value
0           1  Electronics  Price    100
1           2     Clothing  Price     50
2           3  Electronics  Price     75
3           4    Groceries  Price     30
4           5    Groceries  Price     25
5           1  Electronics  Sales    500
6           2     Clothing  Sales    300
7           3  Electronics  Sales    200
8           4    Groceries  Sales    400
9           5    Groceries  Sales    150

In [34]:
# Pivot to reshape back to wide format 
wide_data = melted_data.pivot(index='Product_ID', columns='Metric', values='Value').reset_index() 
# If you want to keep 'Category' as well, you can include it in the index 
wide_data_with_category = melted_data.pivot(index=['Product_ID', 'Category'], columns='Metric', values='Value').reset_index() 
print(wide_data) 
print(wide_data_with_category)

Metric  Product_ID  Price  Sales
0                1    100    500
1                2     50    300
2                3     75    200
3                4     30    400
4                5     25    150
Metric  Product_ID     Category  Price  Sales
0                1  Electronics    100    500
1                2     Clothing     50    300
2                3  Electronics     75    200
3                4    Groceries     30    400
4                5    Groceries     25    150

In [36]:
# Merge data1 and data2 on 'Product_ID'
merged_data = pd.merge(data1, data2, on='Product_ID') 
# Create a pivot table to show total Revenue for each Category and Store
pivot_table = merged_data.pivot_table(values='Revenue', index='Category', columns='Store', aggfunc='sum').reset_index()
print(pivot_table)

Store     Category      A      B      C
0         Clothing    NaN  400.0    NaN
1      Electronics  950.0    NaN    NaN
2        Groceries    NaN  180.0  500.0